<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    {% block title %}CRR Intersight - Dashboard{% endblock %}
    </title>

    {% load staticfiles %}
    <meta charset="utf-8">
    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css'>

  </head>

  <body id="page-top">

    {% block navbar%}

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="https://127.0.0.1:8000">CRR - Intersight</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

    </nav>

    {% endblock %}

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="https://127.0.0.1:8000/overview">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Overview</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Micro Services</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/microservice/INTERSIGHT_ONPREM/">ON PREM</a>
            <a class="dropdown-item" href="/microservice/INTERSIGHT_PRODUCTION/">PRODUCTION</a>
            <a class="dropdown-item" href="/microservice/INTERSIGHT_STAGING/">STAGING</a>
            <a class="dropdown-item" href="/microservice/INTERSIGHT_QA/">QA</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Trend</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" href="/trend/week/INTERSIGHT_ONPREM/">ON PREM</a>
            <a class="dropdown-item" href="/trend/week/INTERSIGHT_PRODUCTION/">PRODUCTION</a>
            <a class="dropdown-item" href="/trend/week/INTERSIGHT_STAGING/">STAGING</a>
            <a class="dropdown-item" href="/trend/week/INTERSIGHT_QA/">QA</a>
          </div>
        </li>
<!--         <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Trend</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link"> <!-- href="" -->
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
<!--           <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol> -->

          <!-- Icon Cards-->

          {% block datapage %}

          <div class="row">
            <div class="col-xl-9 col-sm-12 mb-9">
                <h1>Welcome CRR-Intersight Dashboard</h1>
            </div>
        </div>

          {% endblock %}

        <!-- Sticky Footer -->
        <footer class="sticky-footer" style="position: fixed !important; height: 40px !important">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © CRR Intersight 2018 - Kalai</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static js/demo/datatables-demo.js"></script>
    <script src="{% static js/demo/chart-area-demo.js"></script>

  </body>

</html>
