<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Production Report</title>

    <!--CSS links below-->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

</head>
<body style="margin: 2%">
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>USName</th>
        <th>TCName</th>
        <th>Category</th>
        <th>APImicroservice</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for item in autoinr %}
    <tr>
        <td>{{ item.0 }}</td>
        <td>{{ item.1 }}</td>
        <td>{{ item.2 }}</td>
        <td>{{ item.3 }}</td>
        <td>{{ item.4 }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>Not found!!!</td>
    </tr>
    {% endfor %}
    </tbody>
</table>



<!--javascript links below-->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

</body>
</html>